<form (submit)="guardar($event)" [formGroup]="tareaForm">
  Nombre: <input type="text" formControlName="nombre" required>
  <span [hidden]="tareaForm.get('nombre').valid" class="requried-msj">Requerido</span>
  <br>
  <br>
  Descripción: <input type="text" formControlName="descripcion">
  <br>
  <br>
  <button (click)="cancelar()">Cancelar</button>
  &nbsp;
  <button type="submit" [disabled]="!tareaForm.valid">Guardar</button>
</form>
