table {
  border-spacing: 5px;
}

td,
th {
  border: 1px solid black;
  background-color: whitesmoke;
  min-width: 150px;
  padding: 5px;
}

.slide {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: rgb(207, 207, 207);
  border: 1px solid #333;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 50px;
}

.slide label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: red;
  font-weight: bold;
  transition: all .3s ease;
  border-radius: 16px;
  border: 1px solid #333;
}

.slide>* {
  cursor: pointer;
}

.slide input[type=checkbox] {
  visibility: hidden;
}

.slide input[type=checkbox]:checked+label {
  left: 28px;
  background-color: greenyellow;
}
