<h3>Lista de tareas</h3>

<button [routerLink]="[0]">Crear</button>

<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Detalles</th>
    <th>Terminado</th>
    <th></th>
  </tr>
  <tr *ngFor="let tarea of tareas">
    <td>{{tarea.id}}</td>
    <td>{{tarea.nombre}}</td>
    <td>{{tarea.descripcion | truncar: 15 }}</td>
    <td>
      <div class="slide" (click)="marcar(tarea)">
        <input type="checkbox" [checked]="tarea.terminada">
        <label></label>
      </div>
    </td>
    <td>
      <a [routerLink]="[tarea.id]">Editar</a> |
      <a [routerLink]="['/tareas-r', tarea.id]">Editar R</a> |
    </td>
  </tr>
</table>
