
table {
  width: 400px;
}

input {
  padding: 5px;
}

.ng-valid[required],
.ng-valid.required {
  border-bottom: 5px solid green;
}

.ng-invalid:not(form) {
  border-bottom: 5px solid red;
}

.requried-msj {
  padding-left: 10px;
  font-weight: bold;
  color: red;
}

.valido {
  background-color: yellowgreen;
}
