<form (submit)="guardar($event)" #form="ngForm">
  Nombre: <input type="text" [(ngModel)]="tarea.nombre" #nombre="ngModel" name="nombre" required>
  <span [hidden]="nombre.valid" class="requried-msj">Requerido</span>
  <br>
  <br>
  Descripción: <input type="text" [(ngModel)]="tarea.descripcion" name="descripcion">
  <br>
  <br>
  <button (click)="cancelar()">Cancelar</button>
  &nbsp;
  <button type="submit" [disabled]="!form.valid">Guardar</button>
</form>
