ul {
  background-color: rgb(29, 94, 148);
  padding: 10px;
  margin: 0;
  list-style: none;
  display: block;
  user-select: none;
}

li {
  display: inline-block;
  padding: 0 25px;
  text-transform: capitalize;
}

a:link,
a:visited,
a:hover,
a:active {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}
