/* You can add global styles to this file, and also import other style files */

html, body {
  /* font-size: 1.4rem; */
  margin: 0;
  padding: 0;
  background-color:rgb(209, 242, 255);
}

button {
  cursor: pointer;
  border: 2px solid #333;
  background-color: yellow;
  color: #333;
  border-radius: 10px;
  padding: 3px;
  width: 80px;
}

button:disabled {
  background-color: gainsboro;
}
